# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example


# =========================
# Python
# =========================
__pycache__/
*.py[cod]


# =========================
# Virtual Environment
# =========================
.venv/
venv/


# =========================
# Build
# =========================
build/
dist/


# =========================
# Output
# =========================
Output/
Exceldata/


# =========================
# Input Test Files
# =========================
INPUT/
InputPDF/
pdf_test/


# =========================
# Temporary
# =========================
TempSplit/
Temp PNG/
Temp PNG COMPLETE/
SplitComplete/


# =========================
# Backup
# =========================
Backup/


# =========================
# Node
# =========================
node_modules/


# =========================
# PDF
# =========================
*.pdf


# =========================
# JSON Output
# =========================
output.json


# =========================
# Logs
# =========================
*.log


# =========================
# Poppler
# =========================
poppler-24.08.0/


# =========================
# IDE / OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini